{% extends 'main/layout.html'%}

{% block title %}AddVisit page{% endblock %}

{% block content %}
<div class="features">
    <h1>Форма для добавления визита к доктору</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id_Visit" value="{{ Visits.pk }}">
        {{ form.iddoctor }}<br>
        {{ form.idpatient }}<br>
        {{ form.date_of_visit }}<br>
        {{ form.idvisits }}
        <span>{{ error }}</span>

        <button class ="btn btn-success" type="submit">Добавить визит</button>
    </form>

</div>
{% endblock %}