{% extends 'main/layout.html'%}

{% block title %}AddDoctor page{% endblock %}

{% block content %}
<div class="features">
    <h1>Форма для добавления врача</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.iddoctor }}<br>
        {{ form.fio }}<br>
        {{ form.specs }}<br>
        {{ form.payment }}<br>
        {{ form.percentprofit }}<br>
        <span>{{ error }}</span>

        <button class ="btn btn-success" type="submit">Добавить врача</button>
    </form>

</div>
{% endblock %}