{% extends 'main/layout.html'%}

{% block title %}Main page{% endblock %}

{% block content %}

    <div class="features">
        {% if doctors %}
            <h1>Страница с таблицей врачей</h1>
            <div class="table-responsive">
                <table className="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" class="sticky-column" >id</th>
                        <th scope="col" class="sticky-column">FIO</th>
                        <th scope="col" class="sticky-column">SPECS</th>
                        <th scope="col" class="sticky-column">PAYMENT</th>
                        <th scope="col" class="sticky-column">PERCENTOFPROFIT</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for el in doctors%}
                        <tr>
                          <td><a href = "{% url 'doctor_detail'  el.iddoctor  %}"> {{ el.iddoctor }}</a></td>
                          <td> {{ el.fio}}</td>
                          <td> {{ el.specs}}</td>
                          <td> {{ el.payment}}</td>
                          <td> {{ el.percentprofit}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'add_doctor' %}"><button class="btn btn-warning">Добавить</button> </a>

        {% else %}
            <p>Puk!</p>
        {% endif %}
    </div>

{% endblock %}

